@model BlogFelipeWeb.Models.ContUsuario.ListarPostsViewModel

@{
    ViewBag.Title = "Posts";
    var tipoPesquisa = "";

    if (Model.sTag != null)
    {
        tipoPesquisa = string.Format("- tag: {0}", Model.sTag);
    }
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Views/Blog/Index.js")"></script>
}

<h2>Posts @tipoPesquisa</h2>
<div class="row">
    <div class="col-md-10">
        @foreach (var item in Model.Posts)
        {

            <h2>
                @Html.ActionLink(item.sTitulo, "Post", "Blog", new
       {
           id = item.Id,
           ano = item.dDataPublicacao.Year,
           mes = item.dDataPublicacao.Month,
           dia = item.dDataPublicacao.Day,
           titulo = item.sTitulo
       }, null)
        </h2>

        <div>
            <div class="icone-calendario div-imagem"></div>
            @item.dDataPublicacao.ToString("dd/MM/yyyy HH:mm")
            <div class="icone-autor div-imagem"></div>
            @item.sAutor.ToString()
            <div class="icone-comentario div-imagem"> </div>
            @Html.ActionLink("0", "EditarPost", "Administracao", new { id = item.Id }, null)
            @if (Request.IsAuthenticated)
            {
                <div class="icone-editar div-imagem"></div>
                @Html.ActionLink("Editar", "EditarPost", "Administracao", new { id = item.Id }, null)
                <div class="icone-excluir div-imagem "></div>
                @Html.ActionLink("Excluir", "ExcluirPost", "Administracao", new { id = item.Id }, new { @class = "excluir-post" })
            }

        </div>

        <p><div>@item.sResumo</div></p>

        
            @Html.ActionLink("Continue Lendo!", "Post", "Blog", new
           {
               id = item.Id,
               ano = item.dDataPublicacao.Year,
               mes = item.dDataPublicacao.Month,
               dia = item.dDataPublicacao.Day,
               titulo = item.sTitulo
           }, null)
        
        }

    </div>

    <div class="col-md-2">
    
        <h3> Tags </h3>

        <ul>
            @foreach(var item in Model.sTags)
            {
                <li>@Html.ActionLink(item, "Index","Blog", new { tag = item}, null)</li>
            }
        </ul>
    </div
>
</div>
        <p>@Html.Partial("_Paginacao", Model)</p>
