
@model BlogFelipeWeb.Models.Login.LoginViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

@using (Html.BeginForm("Index", "Blog", new { ReturnUrl = ViewBag.ReturnUrl},FormMethod.Post,
    new { @class ="form-horizontal", role="form"}))
{
    //Verifica se o token é valido
    @Html.AntiForgeryToken()
    //Cria um campo mostrando um erro
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(x => x.sLogin, new { @class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.sLogin, new { @class = "form-control", style = "width: 280px" })
            @Html.ValidationMessageFor(x => x.sLogin)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.sSenha, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.sSenha, new { @class = "form-control", style = "width: 280px" })
            @Html.ValidationMessageFor(x => x.sSenha)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.Lembrar)
                @Html.LabelFor(m => m.Lembrar)
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Entrar" class="btn btn-primary">
        </div>
    </div>
}
